<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/all.min.css">
    <title>Connect 4 by parzibyte</title>
    <style>
        td {
            background-color: #638CFF;
            border: 0px !important;
        }
    </style>
</head>

<body>
    <div class="container text-center" id="app">
        <div class="row justify-content-center">
            <div class="col-12">
                <h1>Connect 4 by parzibyte</h1>
                <div class="alert alert-info">
                    <strong>Current player: </strong> {{currentPlayer === PLAYER_1 ? 'Player 1' : 'Player 2'}}
                    <br>
                    <img :src="cellImage(currentPlayer)" alt="" class="img-fluid" style="max-width: 70px;">
                </div>
            </div>
        </div>
        <div class="table-responsive col-12 mx-auto">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th v-for="i in COLUMNS">
                            <button :disabled="!canPlay" @click="makeMove(i)" class="btn btn-success">Make move here&nbsp;<i
                                    class="fa fa-arrow-down"></i></button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="row in board">
                        <td v-for="cell in row">
                            <img class="img-fluid" :src="cellImage(cell)" alt="">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="vue.js"></script>
    <script src="sweetalert2.all.min.js"></script>
    <script src="connect4.js"></script>
</body>

</html>